@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@layer base {
  :root {
    --background: 0 0% 3.1%;
    --foreground: 48 24% 96%;
    --card: 144 0% 0%;
    --card-foreground: 144 0% 90%;
    --popover: 144 10% 5%;
    --popover-foreground: 144 0% 90%;
    /* --primary: hsl(var(--primary-color)); */

    --muted: 218 11% 65%;
    --muted-foreground: 144 0% 60%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 144 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 144 0% 90%;
    --border: 144 20% 18%;
    --input: 144 20% 18%;
    --ring: 144 84.1% 58%;
    --radius: 0.5rem;

    --animation-delay: 80ms;
  }
  .ghibli-theme {
    --background: transparent;
    --card: transparent;
    --muted-foreground: 73 98% 82%;
    --muted: 73 98% 82%;
    --popover: transparent;
    --accent: 37 82% 72%;

    font-family: "Sawarabi Mincho", serif;
  }

  .ghibli-theme a:hover {
    text-decoration: underline;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::selection {
  background-color: #ffffff13;
}

::-webkit-scrollbar {
  width: 10px;
  background: #080808;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #080808;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: #826d6d36;
}
