.coloredText {
  color: hsl(var(--primary));
}
.arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  rotate: 180deg;
  /* position: absolute; */
  top: 20px;
  height: 300px;
}
.arrow-2 {
  rotate: 180deg;
  /* position: absolute; */
  top: 20px;
  height: 300px;
}
.disclaimer{
  background: hsl(var(--primary));
  margin: 0;
  color: black;
  padding: 4px;
}
@media screen and (width<660px) {
  .arrow{
    height: auto;
  }
  .arrow-2{
    height: 150px;
  }
}