.project{
    background: hsl( 240 10% 3.9%);
}
.projectImage {
    /* width: 400px; */
    transition: all .4s ease;
}
.projectImage:hover{
    width: 420px;
    
}
.projectImage:hover  .backgroundImage{
    width: 520px;
}
.backgroundImage{
    background: hsl(var(--primary));
    width: 500px;
    transition: all .4s ease;

}
.projectName{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    color: hsl(var(--primary));
    opacity: 0.9;
}
/* .backgroundImage:hover{
    width: 520px;
} */
@media screen and (width<800px){
    .projectImage{
        width: 0px;
    }
    /* .project{
        width: 90vw;
        height: 220px;
        background: hsl( 240 10% 3.9%);
    } */
}
